@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@using Base.Core.Entities.Identity
@inject IViewLocalizer Localizer
@*@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section stylesPageSpecs {
    <!-- iCheck -->
    <link href="~/adm/plugins/iCheck/minimal/minimal.css" rel="stylesheet" type="text/css" />

    <!-- Date Picker -->
    <link href="~/adm/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet">

    <!-- devex -->
    <link rel="stylesheet" type="text/css" href="~/adm/plugins/devextreme/css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="~/adm/plugins/devextreme/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="~/adm/plugins/devextreme/css/dx.light.css" />

    <!-- validationEngine -->
    <link rel="stylesheet" href="~/adm/plugins/validationEngine/validationEngine.jquery.css" type="text/css" />

    <!-- tagCabin css -->
    <link href="~/adm/plugins/zeyn/tag-cabin/tag-cabin.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/adm/dist/css/AdminLTE.css" type="text/css" />
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Breadcrumb-->
    @Html.Partial("~/Views/Shared/AdminBreadCrumbPartial.cshtml")

    <!-- Main content -->
    <section class="content">

        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">

                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-comments-o"></i>
                        <h3 class="box-title"><span lang="en">TopUsed Stock form</span></h3>

                        <div class="box-tools pull-right">
                            <button class="btn bg-teal btn-sm btn-small-miya" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <!--<button class="btn bg-teal btn-sm btn-small-miya" data-widget="remove"><i class="fa fa-times"></i></button>-->
                        </div>
                    </div>
                    <div class="box-body">
                        <form id='topUsedStockForm' method="get">
                            <div class="row" id="loadingImage_topUsedStock">

                                <div class="col-sm-4" id="ajaxACL-topUsedStock">
                                    <div class="form-group">
                                        <label><span lang="en">Stock type</span></label>
                                        <div class="" id="ajax_DdslickStockType">
                                            <div id="loadingImage_DdslickStockType" class="input-group zeyn-load-imager">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-copyright"></i>
                                                </div>
                                                <div id="ddslickStockType" class="form-control"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Embrace U number</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Embrace U number" id="txt-stockTu-embraceNo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Chassis number</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Chassis number" id="txt-stockTu-chassisNo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Full chassis number</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Full Chassis number" id="txt-stockTu-fullChassisNo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Tracking Beam unit number</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Tracking Beam unit number" id="txt-stockTu-trackingBeamNo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Warranty</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Warranty" id="txt-stockTu-warranty">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Vehicle stock</span></label>
                                        <div class="" id="ajax_DdslickVehicleStock">
                                            <div id="loadingImage_DdslickVehicleStock" class="input-group zeyn-load-imager">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-copyright"></i>
                                                </div>
                                                <div id="ddslickVehicleStock" class="form-control"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Date in stock</span></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right validate[required]" name="Start-datepicker" id="dateinStock-datepicker" placeholder="Date in stock">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Make</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Make" id="txt-stockTu-make">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Model</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Model" id="txt-stockTu-model">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Year</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Year" id="txt-stockTu-year">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">KM reading</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Km reading" id="txt-stockTu-kmReading">
                                        </div>
                                    </div>

                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label><span lang="en">Driviline expiry date</span></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right validate[required]" name="Start-datepicker" id="drivilineDate-datepicker" placeholder="Driviline expiry date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Registration number</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Registration number" id="txt-stockTu-regNo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Traded from</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Traded from" id="txt-stockTu-tradedFrom">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Intake</span></label>
                                        <div class="" id="ajax_DdslickIntake">
                                            <div id="loadingImage_DdslickIntake" class="input-group zeyn-load-imager">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-copyright"></i>
                                                </div>
                                                <div id="ddslickIntake" class="form-control"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Vehicle location</span></label>
                                        <div class="" id="ajax_DdslickVehicleLocation">
                                            <div id="loadingImage_DdslickVehicleLocation" class="input-group zeyn-load-imager">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-copyright"></i>
                                                </div>
                                                <div id="ddslickVehicleLocation" class="form-control"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Movement status</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Movement status" id="txt-stockTu-movementStatu">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Memo</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Memo" id="txt-stockTu-memo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Acquisition cost</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Acquisition cost" id="txt-stockTu-acquisitioncost">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Over allowance</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Over allowance" id="txt-stockTu-overallowance">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Buyback/FML/RPU Cost Adj to market value</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Buyback/FML/RPU Cost Adj to market value" id="txt-stockTu-bbMarketValue">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Evaluation repairs completed</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Evaluation repairs completed" id="txt-stockTu-evaluationRepair">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>

                                </div><!-- /.col -->

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label><span lang="en">BB change in provision </span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="BB change in provision" id="txt-stockTu-bbProvision">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Market revaluation 1</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Market revaluation 1" id="txt-stockTu-marketRev1">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Market revaluation 2</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Market revaluation 2" id="txt-stockTu-marketRev2">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Gross book value</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Gross book value" id="txt-stockTu-grossBookValue">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Net book value/finance </span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Net book value/finance" id="txt-stockTu-netBookFinance">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Provision for repairs</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Provision for repairs" id="txt-stockTu-repairProvision">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Retail</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Retail" id="txt-stockTu-retail">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Min price</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Min price" id="txt-stockTu-minPrice">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Offer price</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Offer price" id="txt-stockTu-offerPrice">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Sold/Unsold</span></label>
                                        <div class="" id="ajax_DdslickSold">
                                            <div id="loadingImage_DdslickSold" class="input-group zeyn-load-imager">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-copyright"></i>
                                                </div>
                                                <div id="ddslickSold" class="form-control"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Invoice amount</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-pin"></i>
                                            </div>
                                            <input type="number" class="form-control validate[required]" placeholder="Invoice amount" id="txt-stockTu-invoiceAmount">
                                            <span class="input-group-addon">ZAR</span>
                                        </div>
                                    </div>
                                </div><!-- /.col -->
                            </div>
                            <div class="row" id="loadingImage_topUsedStock2">
                                <div class="col-md-6" id="ajaxACL-tuS">
                                    <div class="form-group">
                                        <label><span lang="en">Days in stock</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Days in stock" id="txt-stockTu-stockDay" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Park Off</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Park Off" id="txt-stockTu-parkOff" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Total cost</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Total cost" id="txt-stockTu-totalCost" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Net book value</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Net book value" id="txt-stockTu-netbookval" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Sub total</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Sub total" id="txt-stockTu-subTotal" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">YTD rental income</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="YTD rental income" id="txt-stockTu-rentalincome" disabled>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-6" id="ajaxACL-tus2">
                                    <div class="form-group">
                                        <label><span lang="en">Total repair cost</span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Total repair cost" id="txt-stockTu-totalrepair" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Depreciation </span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Depreciation" id="txt-stockTu-depreciation" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">YTD Total depreciation </span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="YTD Total depreciation" id="txt-stockTu-ytdDepreciation" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Diff min price </span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Diff min price" id="txt-stockTu-diffMinPrice" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">SIV </span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="SIV" id="txt-stockTu-siv" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span lang="en">Diff min price and SIV excluding depr </span></label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-copyright"></i>
                                            </div>
                                            <input type="text" class="form-control validate[required]" placeholder="Diff min price and SIV excluding depr" id="txt-stockTu-difMinSiv" disabled>
                                        </div>
                                    </div>


                                </div>


                            </div>
                            <div class="box-footer">
                                <button type="reset" class="btn btn-primary btn-md pull-right" style="margin-right:10px" id="btn-topUsedStock-clear">&nbsp;<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear&nbsp;&nbsp;</button>
                                <button type="submit" class="btn btn-primary btn-md pull-right" style="margin-right:10px" id="btn-topUsedStock-save">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
                            </div>
                        </form>

                        <div class="box box-info" id="ajaxACL-topUsedStock">
                            <div class="box-header">
                                <i class="fa fa-comments-o"></i>
                                <h3 class="box-title"><span lang="en">TopUsed Stock list</span></h3>

                                <div class="box-tools pull-right">
                                    <button class="btn bg-teal btn-sm btn-small-miya" data-widget="refresh" id="topUsedStockRefresh"><i class="fa fa-refresh"></i></button>
                                    <button class="btn bg-teal btn-sm btn-small-miya" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <!--<button class="btn bg-teal btn-sm btn-small-miya" data-widget="remove"><i class="fa fa-times"></i></button>-->
                                </div>
                            </div>

                            <div class="box-body" id="loadingImage_DdslickTopUsedStockGrid">
                                <div id="gridContainer_topUsedStock"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </section><!-- /.Left col -->
            <!-- Main row -->
                <!-- Left col -->
                <section class="col-lg-12 connectedSortable">                  
                    <div class="box box-info" id="ajaxACL-costGrid">
                        <div class="box-header">
                            <i class="fa fa-comments-o"></i>
                            <h3 class="box-title"><span lang="en">Cost List</span></h3>

                            <div class="box-tools pull-right">
                                <button class="btn bg-teal btn-sm btn-small-miya" data-widget="refresh" id="costList"><i class="fa fa-refresh"></i></button>
                                <button class="btn bg-teal btn-sm btn-small-miya" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <!--<button class="btn bg-teal btn-sm btn-small-miya" data-widget="remove"><i class="fa fa-times"></i></button>-->
                            </div>
                        </div>

                        <div class="box-body" id="loading-image-costGrid">
                            <div id="gridContainer_costGrid"></div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary btn-md" style="margin-right:10px" id="btn-costadd-save">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
                        </div>
                    </div>

                </section><!-- /.Left col -->

            <!-- Main row -->
            <!-- Main row -->
                <!-- Left col -->
                <section class="col-lg-12 connectedSortable">

                    <div class="box box-info" id="ajaxACL-rentalGrid">
                        <div class="box-header">
                            <i class="fa fa-comments-o"></i>
                            <h3 class="box-title"><span lang="en">Rental List</span></h3>

                            <div class="box-tools pull-right">
                                <button class="btn bg-teal btn-sm btn-small-miya" data-widget="refresh" id="rentalList"><i class="fa fa-refresh"></i></button>
                                <button class="btn bg-teal btn-sm btn-small-miya" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <!--<button class="btn bg-teal btn-sm btn-small-miya" data-widget="remove"><i class="fa fa-times"></i></button>-->
                            </div>
                        </div>

                        <div class="box-body" id="loading-image-rentalGrid">
                            <div id="gridContainer_rentalGrid"></div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary btn-md" style="margin-right:10px" id="btn-rentaladd-save">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
                        </div>
                    </div>

                </section><!-- /.Left col -->

            <!-- Main row -->
            <!-- Main row -->
                <!-- Left col -->
                <section class="col-lg-12 connectedSortable">

                    <div class="box box-info" id="ajaxACL-repairCostGrid">
                        <div class="box-header">
                            <i class="fa fa-comments-o"></i>
                            <h3 class="box-title"><span lang="en">Repair cost List</span></h3>

                            <div class="box-tools pull-right">
                                <button class="btn bg-teal btn-sm btn-small-miya" data-widget="refresh" id="repairCostList"><i class="fa fa-refresh"></i></button>
                                <button class="btn bg-teal btn-sm btn-small-miya" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <!--<button class="btn bg-teal btn-sm btn-small-miya" data-widget="remove"><i class="fa fa-times"></i></button>-->
                            </div>
                        </div>

                        <div class="box-body" id="loading-image-repairCostGrid">
                            <div id="gridContainer_repairCostGrid"></div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary btn-md" style="margin-right:10px" id="btn-repaircostadd-save">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
                        </div>
                    </div>

                </section><!-- /.Left col -->
            <!-- Main row -->
        </div><!-- /.row (main row) -->


    </section><!-- /.content -->
    <!-- Main content -->
</div><!-- /.content-wrapper -->

@section javascriptsPageSpecs {

    <!-- easyui implementation -->
    <script src="~/adm/plugins/jquery-easyui-1.3.3/locale/easyui-lang-tr.js" type="text/javascript"></script>

    <!-- datepicker -->
    <script src="~/adm/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!-- Slimscroll -->
    <script src="~/adm/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <!-- iCheck 1.0.1 -->
    <script src="~/adm/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script src='~/adm/plugins/fastclick/fastclick.min.js'></script>

    <!-- zeyn plugins -->
    <!--<script src="~/adm/plugins/zeyn/exPlugs.js" type="text/javascript"></script>-->
    <!-- AdminLTE App -->
    <!--<script src="dist/js/app.min.js" type="text/javascript"></script>-->
    <!--<script src="~/adm/dist/js/app.js" type="text/javascript"></script>-->

    <!--  ddslick -->
    <script src="~/adm/plugins/bootstrap-select-ddslick/js/ddslick.js"></script>
    <script src="~/adm/plugins/zeyn/tag-cabin/tag-cabin.js"></script>


    <!-- devexpress datagrid -->
    <script src="~/adm/plugins/jszip/dist/jszip.min.js"></script>
    <!-- <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>-->
    <script src="~/adm/plugins/devextreme/js/dx.all.js"></script>
    <script src="https://unpkg.com/devextreme-intl/dist/devextreme-intl.min.js"></script>

    <!--devexpress datagrid lang call js variable _Layout ViewData callback ViewBag -->
    <script src="@ViewBag.defaultDevExLangPath"></script>


    <script src="~/adm/dist/js/pages/stock/stockTopUsed.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {


        });
    </script>
}
