@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@using Base.Core.Entities.Identity
@inject IViewLocalizer Localizer
@*@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section stylesPageSpecs {
    <!-- iCheck -->
    <link href="~/adm/plugins/iCheck/minimal/minimal.css" rel="stylesheet" type="text/css" />

    <!-- Date Picker -->
    <link href="~/adm/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet">

    <!-- devex -->
    <link rel="stylesheet" type="text/css" href="~/adm/plugins/devextreme/css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="~/adm/plugins/devextreme/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="~/adm/plugins/devextreme/css/dx.light.css" />

    <!-- validationEngine -->
    <link rel="stylesheet" href="~/adm/plugins/validationEngine/validationEngine.jquery.css" type="text/css" />

    <!-- tagCabin css -->
    <link href="~/adm/plugins/zeyn/tag-cabin/tag-cabin.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/adm/dist/css/AdminLTE.css" type="text/css" />
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header-breadcrumb-miya">
        <div class="row text-right">
            <div class="col-md-12">

                <ol class="breadcrumb breadcrumb-miya">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">UI</a></li>
                    <li class="active">General</li>
                </ol>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">

                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-comments-o"></i>
                        <h3 class="box-title">Customer Info</h3>

                        <div class="box-tools pull-right">
                            <button class="btn bg-teal btn-sm btn-small-miya" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <!--<button class="btn bg-teal btn-sm btn-small-miya" data-widget="remove"><i class="fa fa-times"></i></button>-->
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs pull-right">
                                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Customer</a></li>
                                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false" class="disable" disabled="">Contact Address</a></li>
                                <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false" class="disable" disabled="">Purchase Plan</a></li>
                                <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false" class="disable" disabled="">Contact Person</a></li>
                                <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="false" class="disable" disabled="">Customer Activity</a></li>

                                <li class="pull-left header"><i class="fa fa-th"></i></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <form id='customerInfoForm' method="get">
                                        <div class="row" id="loading-image-cstInfo">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Customer name:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <input type="text" class="form-control validate[required]" placeholder="Customer Name" id="txt-cst-name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Country:</label>

                                                    <div class="" id="ajaxACL-country">
                                                        <div id="loading-image-country" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownCountry" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>City:</label>

                                                    <div class="" id="ajaxACL-city">
                                                        <div id="loading-image-city" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownCity" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone number:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-phone"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Phone Number" name="txt-cst-phone" id="txt-cst-phone">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>E-mail:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-envelope"></i>
                                                        </div>
                                                        <input type="text" class="form-control validate[required,custom[email]]" placeholder="E-mail" name="txt-cst-email" id="txt-cst-email">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Web Site:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-globe"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Web Site" name="txt-cst-website" id="txt-cst-website">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Reliability rate:</label>
                                                    <div class="" id="ajaxACL-reliabilityrate">
                                                        <div id="loading-image-reliabilityrate" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownReliabilityRate" class="form-control"></div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <!-- /.col -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Sector:</label>
                                                    <div class="" id="ajaxACL-sector">
                                                        <div id="loading-image-sector" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownSector" class="form-control"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Segment:</label>

                                                    <div class="" id="ajaxACL-segment">
                                                        <div id="loading-image-segment" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownSegment" class="form-control"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Customer group:</label>
                                                    <div class="" id="ajaxACL-customergroup">
                                                        <div id="loading-image-customergroup" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownCustomerGroup" class="form-control"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Vat number:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Vat Number" name="txt-cst-vatnumber" id="txt-cst-vatnumber">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Registration number:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Registration Number" name="txt-cst-regnumber" id="txt-cst-regnumber">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Registration date:</label>

                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" class="form-control pull-right" name="registration-datepicker" id="registration-datepicker">
                                                    </div>

                                                    <!-- /.input group -->
                                                </div>
                                                <div class="form-group">
                                                    <label>Total number of vehicles:</label>
                                                    <div class="" id="ajaxACL-totalvehicles">
                                                        <div id="loading-image-totalvehicles" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownTotalVehicles" class="form-control"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Total number of employees:</label>
                                                    <div class="" id="ajaxACL-totalemployees">
                                                        <div id="loading-image-totalemployees" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownTotalEmployees" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Annual revenue:</label>
                                                    <div class="" id="ajaxACL-annuelrevenue">
                                                        <div id="loading-image-annuelrevenue" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownAnnuelRevenue" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- /.col -->
                                        </div>
                                        <div class="box-footer clearfix no-border">
                                            <table class="table text-center">
                                                <tbody>
                                                    <tr>
                                                        <td width="75%">
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            <button type="reset" class="btn btn-block btn-primary btn-lg" id="btn-cst-clear" onclick="resetCustomerInfoForm();">&nbsp;<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear&nbsp;&nbsp;</button>
                                                        </td>
                                                        <td>
                                                            <button type="submit" class="btn btn-block btn-primary btn-lg" id="btn-cst-save" onclick="insertCustomerInfoWrapper();">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>

                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="tab_2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div id="gridContainer_contactaddress"></div>
                                        </div>

                                        <!-- /.col -->
                                        <div class="col-md-6">
                                            <div id="gridContainer_contactphone"></div>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                </div><!-- /.tab-pane -->
                                <!-- Yatırım Planları -->
                                <div class="tab-pane" id="tab_3">
                                    <form id='customerPurchaseForm' method="get">
                                        <div class="row" id="loading-image-cstPurchase">
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label>Last purchase date:</label>
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" class="form-control pull-right" name="lastpurchase-datepicker" id="lastpurchase-datepicker">
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label>Last purchased brand</label>
                                                    <div class="" id="ajaxACL-lastpurchasedbrand">
                                                        <div id="loading-image-lastpurchasedbrand" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownLastPurchaseBrand" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Purchase decision</label>
                                                    <div class="" id="ajaxACL-purchasedecision">
                                                        <div id="loading-image-purchasedecision" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownPurchaseDecision" class="form-control"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- /.col -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date of Purchase Plan</label>
                                                    <div class="" id="ajaxACL-dateofpurchaseplan">
                                                        <div id="loading-image-dateofpurchaseplan" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownDateofPurchasePlan" class="form-control"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Number of vehicles to Purchase</label>
                                                    <div class="" id="ajaxACL-numberofvehiclestopurchase">
                                                        <div id="loading-image-numberofvehiclestopurchase" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownNumberofVehiclestoP" class="form-control"></div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Last update:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-phone"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Last update" name="txt-cst-purchaselastupdate" id="txt-cst-purchaselastupdate" readonly="true">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <div class="box-footer clearfix no-border">
                                            <table class="table text-center">
                                                <tbody>
                                                    <tr>
                                                        <td width="75%">
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            <button type="reset" class="btn btn-block btn-primary btn-lg" id="btn-cstp-clear" onclick="resetCustomerPurchaseForm();">&nbsp;<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear&nbsp;&nbsp;</button>
                                                        </td>
                                                        <td>
                                                            <button type="submit" class="btn btn-block btn-primary btn-lg" id="btn-cstp-save" onclick="return insertCustomerPurchaseWrapper();">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div><!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_4">
                                    <!-- Customer contact person form -->
                                    <form id='customerContactPersonForm' method="get">
                                        <div class="row" id="loading-image-cstcp">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>First Name :</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="First Name" name="txt-cp-firstname" id="txt-cp-firstname">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Last Name :</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Last Name" name="txt-cp-lastname" id="txt-cp-lastname">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>GSM :</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="GSM" name="txt-cp-gsm" id="txt-cp-gsm">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone :</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Phone" name="txt-cp-phone" id="txt-cp-phone">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>E-mail :</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="E-mail" name="txt-cp-email" id="txt-cp-email">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Birth Date:</label>
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" class="form-control pull-right" name="cp-birthdate-datepicker" id="cp-birthdate-datepicker">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Reference :</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Reference" name="txt-cp-reference" id="txt-cp-reference">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Hobies :</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Hobies" name="txt-cp-hobies" id="txt-cp-hobies">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Club :</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Club" name="txt-cp-club" id="txt-cp-club">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- /.col -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Priority</label>
                                                    <div class="" id="ajaxACL-priority">
                                                        <div id="loading-image-priority" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownPriority" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Title</label>
                                                    <div class="" id="ajaxACL-title">
                                                        <div id="loading-image-title" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownTitle" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Role</label>
                                                    <div class="" id="ajaxACL-role">
                                                        <div id="loading-image-role" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownRole" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Product Interest</label>
                                                    <div class="" id="ajaxACL-productinterest">
                                                        <div id="loading-image-productinterest" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownProductInterest" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Competitor Satisfaction</label>
                                                    <div class="" id="ajaxACL-compsatisfaction">
                                                        <div id="loading-image-compsatisfaction" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownCompSatisfaction" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>MAN Satisfaction</label>
                                                    <div class="" id="ajaxACL-mansatisfaction">
                                                        <div id="loading-image-mansatisfaction" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownMANSatisfaction" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Brand Loyalty</label>
                                                    <div class="" id="ajaxACL-brandloyalty">
                                                        <div id="loading-image-brandloyalty" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownBrandLoyalty" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Last Brand</label>
                                                    <div class="" id="ajaxACL-brand">
                                                        <div id="loading-image-brand" class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-copyright"></i>
                                                            </div>
                                                            <div id="dropdownBrand" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- /.col -->
                                        </div>
                                        <div class="box-footer clearfix no-border">
                                            <table class="table text-center">
                                                <tbody>
                                                    <tr>
                                                        <td width="75%">
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            <button type="reset" class="btn btn-block btn-primary btn-lg" id="btn-cstcp-clear" onclick="resetContactPersonForm();">&nbsp;<i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear&nbsp;&nbsp;</button>
                                                        </td>
                                                        <td>
                                                            <button type="submit" class="btn btn-block btn-primary btn-lg" id="btn-cstcp-save" onclick="return insertContactPersonWrapper();">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                    <!-- Devex datagrid -->
                                    <div id="gridContainer_contactperson"></div>
                                </div><!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_5">
                                    <!-- Devex datagrid -->
                                    <div id="gridContainer_activity"></div>
                                </div><!-- /.tab-pane -->


                            </div><!-- /.tab-content -->
                        </div>

                    </div>
                </div>

            </section><!-- /.Left col -->

        </div><!-- /.row (main row) -->


    </section><!-- /.content -->
    <!-- Main content -->
    <section class="content">

        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">

                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-comments-o"></i>
                        <h3 class="box-title">Customer Info</h3>

                        <div class="box-tools pull-right">
                            <button class="btn bg-teal btn-sm btn-small-miya" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <!--<button class="btn bg-teal btn-sm btn-small-miya" data-widget="remove"><i class="fa fa-times"></i></button>-->
                        </div>
                    </div>
                    <div class="box-body" id="loading-image-cstInfoGrid">
                        <div id="gridContainer_customer"></div>
                    </div>
                </div>

            </section><!-- /.Left col -->

        </div><!-- /.row (main row) -->


    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

@section javascriptsPageSpecs {

    <!-- easyui implementation -->
    <script src="~/adm/plugins/jquery-easyui-1.3.3/locale/easyui-lang-tr.js" type="text/javascript"></script>

    <!-- datepicker -->
    <script src="~/adm/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <!-- Slimscroll -->
    <script src="~/adm/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <!-- iCheck 1.0.1 -->
    <script src="~/adm/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script src='~/adm/plugins/fastclick/fastclick.min.js'></script>

    <!-- zeyn plugins -->
    <script src="~/adm/plugins/zeyn/exPlugs.js" type="text/javascript"></script>

    <!-- AdminLTE App -->
    <!--<script src="dist/js/app.min.js" type="text/javascript"></script>-->
    <script src="~/adm/dist/js/app.js" type="text/javascript"></script>

    <!--  ddslick -->
    <script src="~/adm/plugins/bootstrap-select-ddslick/js/ddslick.js"></script>
    <script src="~/adm/plugins/zeyn/tag-cabin/tag-cabin.js"></script>


    <!-- devexpress datagrid -->
    <script src="~/adm/plugins/jszip/dist/jszip.min.js"></script>
    <!-- <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>-->
    <script src="~/adm/plugins/devextreme/js/dx.all.js"></script>
    <script src="https://unpkg.com/devextreme-intl/dist/devextreme-intl.min.js"></script>

    <!--devexpress datagrid lang call js variable _Layout ViewData callback ViewBag -->
    <script src="@ViewBag.defaultDevExLangPath"></script>


    <script src="~/adm/dist/js/pages/demo/tabTest.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {


        });
    </script>
}
