@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHttpContextAccessor HttpContextAccessor
@using System
@using System.Text
@using Base.Core.Entities.Session
@using Base.Core.Extensions.Session
@using Microsoft.AspNetCore.Http
@{
    var currentUser = Context.Session.Get<SessionUserModel>("CurrentUser");
}



<!-- Control Sidebar right -->
<aside id="campaignAddAside" class="padding-top-minus-50" style="padding-top : -50px;">
    <div class="row margin">
        <button class="btn btn-default pull-left" id="toggle_closeCampaignAside" style="margin-right: 10px;" ><i class="fa fa-close"></i></button>

    </div>
    <!-- Create the tabs -->
    <div class="callout callout-info lead margin">

        <p lang="en">Add <code lang="en">campaign</code></p>
    </div>
    <!-- Tab panes -->
    <div class="tab-content" id="testZeyn">
        <!-- Home tab content -->
        <div class="tab-pane active pad zeyn-load-imager position-relative" id="tab_Campaign">
            <form id="addCampaignForm">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label lang="en">Vehicle groups</label>
                            <div class="" id="ajax_DdslickVehicleGroupCampaign">
                                <div id="loadingImage_DdslickVehicleGroupsCampaign" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickVehicleGroupCampaign"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label lang="en">Vehicle type</label>
                            <div class="" id="ajax_DdslickVehicleTypeCampaign">
                                <div id="loadingImage_DdslickVehicleTypeCampaign" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickVehicleTypeCampaign"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label lang="en">Vehicle counts</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-mail-forward"></i>
                                </div>
                                <input type="text" id="number_vehicleCount" class="form-control" placeholder="Vehicle counts">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div id="gridContainer_Campaigns"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div id="gridContainer_DealCampaigns"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div id="gridContainer_DealCampaigns"></div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-default pull-right" id="add_campaign" style="margin-top: 20px;margin-right: 10px;" lang="en"><i class="fa fa-plus"></i>  Add</button>
                </div>
            </form>
        </div><!-- /.tab-pane -->
    </div>
</aside><!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
 immediately after the control sidebar -->
<div class='control-sidebar-custom-bg'></div>
