@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHttpContextAccessor HttpContextAccessor
@using System
@using System.Text
@using Base.Core.Entities.Session
@using Base.Core.Extensions.Session
@using Microsoft.AspNetCore.Http
@{
    var currentUser = Context.Session.Get<SessionUserModel>("CurrentUser");
}


<div class="row">
    <!--<section class="col-lg-7 connectedSortable">-->
    <div class="col-md-12">
        <!--<div class="box" id="panel_hidden1" >  -->
        <div class="box" id="row_hidden" style="display: none;">
            <div class="box-header with-border">
                <h3 class="box-title" id="panel_hidden1_title" lang="en"></h3>
                <div class="box-tools pull-right">
                    <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->

                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row" >
                            <div class="col-lg-4 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3 id="sumNum1"></h3>
                                        <p id="sumA1">New Orders</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-bag"></i>
                                    </div>
                                    
                                </div>
                            </div><!-- ./col -->
                            <div class="col-lg-4 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 id="sumNum2"><sup style="font-size: 20px">%</sup></h3>
                                        <p id="sumA2">Bounce Rate</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>
                                    
                                </div>
                            </div><!-- ./col -->
                            <div class="col-lg-4 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <h3 id="sumNum3"></h3>
                                        <p id="sumA3">User Registrations</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                    
                                </div>
                            </div><!-- ./col -->
                            
                        </div>

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- ./box-body -->
            <div class="box-footer" style="display: block;">
            </div><!-- /.box-footer -->
        </div><!-- /.box -->
    </div>
    <!--</section>  -->
</div>





