@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHttpContextAccessor HttpContextAccessor
@using System
@using System.Text
@using Base.Core.Entities.Session
@using Base.Core.Extensions.Session
@using Microsoft.AspNetCore.Http
@{
    var currentUser = Context.Session.Get<SessionUserModel>("CurrentUser");
}

<!--<div class="row row-min-height">

    <section class="col-lg-12 connectedSortable">-->

<div class="box box-info">
    <div class="box-header">
        <i class="fa fa-comments-o"></i>
        <h3 class="box-title" lang="en">Body proposals</h3>

        <div class="box-tools pull-right">
            <button class="btn bg-teal btn-sm btn-small-miya" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <!--<button class="btn bg-teal btn-sm btn-small-miya" data-widget="remove"><i class="fa fa-times"></i></button>-->
        </div>
    </div>
    <div class="box-body" id="loadingImage_BodyProposal">

        <form id="addForm">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Deals</label>
                        <div class="" id="ajax_DdslickVehicleGroupsBodyProposal">
                            <div id="loadingImage_DdslickVehicleGroupsBodyProposal" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-copyright"></i>
                                </div>
                                <div id="ddslickDeals"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Invoice type</label>
                        <div class="" id="ajax_DdslickVehicleGroupProducts">
                            <div id="loadingImage_DdslickVehicleGroupProducts" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-copyright"></i>
                                </div>
                                <div id="ddslickInvoiceType"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <div class="" id="ajax_Ddslick4">
                            <div id="loadingImage_Ddslick4" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-copyright"></i>
                                </div>
                                <div id="ddslick4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Currency</label>
                        <div class="" id="ajax_Ddslick3">
                            <div id="loadingImage_Ddslick3" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-copyright"></i>
                                </div>
                                <div id="ddslick3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Vehicle type</label>
                        <div class="" id="ajax_Ddslick5">
                            <div id="loadingImage_Ddslick5" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-copyright"></i>
                                </div>
                                <div id="ddslick5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Şase no</label>
                        <div class="" id="ajax_Ddslick6">
                            <div id="loadingImage_Ddslick6" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-copyright"></i>
                                </div>
                                <div id="ddslick6"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Company will take delivery</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <input id="text_6" type="text" class="form-control validate[required]" placeholder="Body brand">
                        </div>
                    </div>
                    <div class="form-group">
                        <label><span lang="en">Delivery country</span></label>

                        <div class="" id="ajaxACL-country">
                            <div id="loading-image-country" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-map"></i>
                                </div>
                                <div id="dropdownCountry" class="form-control"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><span lang="en">Delivery province</span></label>

                        <div class="" id="ajaxACL-province">
                            <div id="loading-image-province" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-map"></i>
                                </div>
                                <div id="dropdownProvince" class="form-control"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><span lang="en">Delivery city</span></label>

                        <div class="" id="ajaxACL-city">
                            <div id="loading-image-city" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-map"></i>
                                </div>
                                <div id="dropdownCity" class="form-control"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Finance</label>
                        <div class="" id="ajax_Ddslick7">
                            <div id="loadingImage_Ddslick7" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-copyright"></i>
                                </div>
                                <div id="ddslick7"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Bank</label>
                        <div class="" id="ajax_Ddslick8">
                            <div id="loadingImage_Ddslick8" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-copyright"></i>
                                </div>
                                <div id="ddslick8"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Bank contact person</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <input id="text_9" type="text" class="form-control  disabled">
                        </div>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Customer</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <input id="text_1" type="text" class="form-control  disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Embr. customer no</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <input id="text_2_1" type="text" class="form-control  disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Embr. customer no</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <input id="text_2" type="text" class="form-control disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Topused customer no</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <input id="text_3" type="text" class="form-control  disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Centurion customer no</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <input id="text_4" type="text" class="form-control  disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Other customer no</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <input id="text_5" type="text" class="form-control  disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Delivery adress</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <input id="text_7" type="text" class="form-control  disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Payment</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <input id="text_8" type="text" class="form-control  disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Date"]</label>
                        <div class="">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input class="datepicker form-control validate[required]"  data-prompt-position="topLeft:70" id="date_vehicleDelivery" data-date-format="mm/dd/yyyy">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="form-group">
                        <label>Accessories</label>
                        <div class="">
                            <div id="loadingImage_TagCabinVehicleAksesuarlar" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-hand-o-right"></i>
                                </div>
                                <div style="margin-bottom: -10px;width:96%" class="tag-container-aksesuarlar">
                                    <ul id="tagcabin_VehicleAksesuarlar" class="tag-box"></ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <button type="submit" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="add_bodyProposal_reset">&nbsp;<i class="fa fa-minus"></i>&nbsp;&nbsp;@Localizer["Reset"]&nbsp;&nbsp;</button>
                <button type="submit" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="add_body_proposal">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;@Localizer["Save"]&nbsp;&nbsp;</button>
            </div>
        </form>

        <div class="row padding-top-20" >
            <div class="col-md-12 col-sm-12 col-xs-12 ">

                <div id="gridContainer_vehicle"></div>
            </div>

        </div>


        
    </div>
    <div class="box-footer clearfix no-border">
        <!--<button class="btn btn-default pull-right"><i class="fa fa-plus"></i>@Localizer["Add item"]</button>-->
    </div>
</div>

<!--</section>

</div>-->
 