
<!-- Content Header (Page header) -->
<section class="content-header-breadcrumb-miya">
    <div class="row text-right">
        <div class="col-md-12">

            <ol class="breadcrumb breadcrumb-miya">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">UI</a></li>
                <li class="active">General</li>
            </ol>
        </div>
    </div>
</section>