@using Microsoft.AspNetCore.Mvc.ViewFeatures
@*@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHttpContextAccessor HttpContextAccessor
@using System
@using System.Text
@using Base.Core.Entities.Session
@using Base.Core.Extensions.Session
@using Microsoft.AspNetCore.Http
@{

    @*ViewData["Title"] = Localizer["Login Page"];*@
    var currentUser = Context.Session.Get<SessionUserModel>("CurrentUser");
    ViewData["Title"] = Localizer["Miya Sales Program Dashboard"];
    ViewData["UserName"] = currentUser.Email;

}

<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <!-- <li class="active treeview">  -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>System Definitions</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/Sys/AnnualRevenue"><i class="fa fa-circle-o"></i> Annual Revenue</a></li>
            <li><a href="/Sys/Brand"><i class="fa fa-circle-o"></i> Brand</a></li>
            <li><a href="/Sys/Terrain"><i class="fa fa-circle-o"></i> Terrain</a></li>
            <li><a href="/Sys/Country"><i class="fa fa-circle-o"></i> Country</a></li>
            <li><a href="/Sys/State"><i class="fa fa-circle-o"></i> State</a></li>
            <li><a href="/Sys/City"><i class="fa fa-circle-o"></i> City</a></li>
            <li><a href="/Sys/Segment"><i class="fa fa-circle-o"></i> Segment</a></li>
            <li><a href="/Sys/Sector"><i class="fa fa-circle-o"></i> Sector</a></li>
            <li><a href="/Sys/CPRole"><i class="fa fa-circle-o"></i> Customer Person Role</a></li>
            <li><a href="/Sys/CustomerGrp"><i class="fa fa-circle-o"></i> Customer Group</a></li>
            <li><a href="/Sys/DemoLocation"><i class="fa fa-circle-o"></i> Branch/Dealer Information</a></li>
            <li><a href="/Sys/DemoReqType"><i class="fa fa-circle-o"></i> Demo Request Type</a></li>
            <li><a href="/Sys/FxRate"><i class="fa fa-circle-o"></i> Fx Rate</a></li>
            <li><a href="/Sys/Mil"><i class="fa fa-circle-o"></i> Mileage</a></li>
            <li><a href="/Sys/ParkoffType"><i class="fa fa-circle-o"></i> Park off Type</a></li>
            <li><a href="/Sys/ReliabilityRate"><i class="fa fa-circle-o"></i> Reliability Rate</a></li>
            <li><a href="/Sys/TNofEmployes"><i class="fa fa-circle-o"></i> Total Number of Employes</a></li>
            <li><a href="/Sys/TNofVehicles"><i class="fa fa-circle-o"></i> Total Number of Vehicles</a></li>
            @*<li><a href="/Sys/TradebackTerrain"><i class="fa fa-circle-o"></i> Tradeback Terrain</a></li>*@
            <li><a href="/Sys/VehicleKitType"><i class="fa fa-circle-o"></i> Vehicle Kit Type</a></li>
            <li><a href="/Sys/VehicleModel"><i class="fa fa-circle-o"></i> Vehicle Model</a></li>
            @*<li><a href="/Sys/WarrantyName"><i class="fa fa-circle-o"></i> Warranty Name</a></li>*@
            <li><a href="/Sys/WarrantyType"><i class="fa fa-circle-o"></i> Warranty Type</a></li>
            <li><a href="/Sys/Branch"><i class="fa fa-circle-o"></i> Branch</a></li>
            <li><a href="/Sys/Supplier"><i class="fa fa-circle-o"></i> Supplier</a></li>
            @*<li><a href="/Sys/AccessoryFeatureName"><i class="fa fa-circle-o"></i> Accessory Feature Name</a></li>*@
            <li><a href="/Sys/Accessory"><i class="fa fa-circle-o"></i> Accessory</a></li>
            <li><a href="/Sys/Body"><i class="fa fa-circle-o"></i> Body</a></li>
        </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Customer</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Customer/Customer"><i class="fa fa-circle-o"></i> Customer</a></li>
                    <li><a href="/Customer/Activity"><i class="fa fa-circle-o"></i> Activity</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Training</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Training/Training"><i class="fa fa-circle-o"></i> Training</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Vehicle</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Vehicle/Vehicle"><i class="fa fa-circle-o"></i> Vehicle</a></li>
                    <li><a href="/Vehicle/SpecialVehicle"><i class="fa fa-circle-o"></i> Special Vehicle Order</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Warranty</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Warranty/WarrantyIdent"><i class="fa fa-circle-o"></i> Warranty</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Deal</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Deal/Add"><i class="fa fa-circle-o"></i> Deal List</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Buyback&Tradeback</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/BuybackTradeback/BuybackTradebackMatrix"><i class="fa fa-circle-o"></i> Buyback&Tradeback Matrix</a></li>

                </ul>
            </li>
            <!--
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>Layout Options</span>
                        <span class="label label-primary pull-right">4</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                        <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                        <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                        <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="pages/widgets.html">
                        <i class="fa fa-th"></i> <span>Widgets</span> <small class="label pull-right bg-green">new</small>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Charts</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                        <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                        <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                        <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>UI Elements</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
                        <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                        <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                        <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
                        <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
                        <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Forms</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                        <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                        <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Tables</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                        <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
                    </ul>
                </li>
                <li>
                    <a href="pages/calendar.html">
                        <i class="fa fa-calendar"></i> <span>Calendar</span>
                        <small class="label pull-right bg-red">3</small>
                    </a>
                </li>
                <li>
                    <a href="pages/mailbox/mailbox.html">
                        <i class="fa fa-envelope"></i> <span>Mailbox</span>
                        <small class="label pull-right bg-yellow">12</small>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>Examples</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                        <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                        <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                        <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                        <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                        <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                        <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-share"></i> <span>Multilevel</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                        <li>
                            <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    </ul>
                </li>
                <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
            -->
        </ul>
